.song-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  gap: 25px;
  padding-top: 25px;
}

.songs__show-more-container {
  display: flex;
  margin: 0px;
  background-color: black;
}
.error__message {
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;
}
